body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 80px;

  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: white;
}

h1 {
  font-size: 40px;
}

h2 {
  margin-bottom: 30px;
}

button {
  margin: 10px;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  background-color: #ff9800;
  color: white;
}

button:hover {
  background-color: #e68900;
}

#output {
  margin-top: 20px;
  font-weight: bold;
}