body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 80px;

  background: linear-gradient(135deg, hsl(219, 58%, 28%), #ec9509);
  color: rgb(247, 240, 240);
}

h1 {
  font-size: 40px;
}

h2 {
  margin-bottom: 30px;
}

button {
  margin: 10px;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  background-color: hsl(219, 58%, 28%);
  color: rgb(247, 242, 242);
}

button:hover {
  background-color: #efbd07;
}

#output {
  margin-top: 20px;
  font-weight: bold;
}